/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.wrapper {
  width: 370px;
  height: 150px;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
}

.timer {
  width: 346px;
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}
.field {
  display: flex;
  flex-direction: column;
  gap: 13px;
  justify-content: center;
  align-items: center;
}
#datetime-picker {
  width: 273px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 16px;
  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2px;
  letter-spacing: 0.04em;
  text-align: left;
}
.input-field {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.btn {
  width: 75px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  background: rgb(207, 207, 207);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2px;
  letter-spacing: 0.04em;
  text-align: left;
  border: none;
  cursor: pointer;
}
.value {
  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.04em;
  text-align: left;
}
.label {
  color: rgb(46, 47, 66);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
